-f /usr/share/pip-wheels
beautifulsoup4==4.5.3
Django==1.9.5
django-appconf==1.0.2
django-bootstrap-form==3.2.1
django-braces==1.10.0
django-classy-tags==0.7.2
django-datetime-widget==0.9.3
django-el-pagination==3.0.1
django-extra-fields==0.9
django-filter==0.15.3
django-forms-bootstrap==3.0.1
django-geojson==2.9.0
django-haystack==2.5.0
django-leaflet==0.22.0
django-localflavor==1.3
django-mailer==1.2.1
django-messages==0.5.3
django-model-utils==3.0.0
django-oauth-toolkit==0.11.0
django-push-notifications==1.4.1
django-realtime==1.1
django-rest-auth==0.9.0
django-rest-framework-social-oauth2==1.0.4
django-stdimage==2.3.3
django-taggit==0.20.2
django-taggit-labels==0.4.1
django-taggit-templatetags2==1.5.2
django-user-accounts==1.3.1
djangorestframework==3.4.1
djoser==0.5.2
fcm-django==0.2.8
funcsigs==1.0.2
geopy==1.11.0
httpie==0.9.4
httpsig==1.1.2
jsonfield==1.0.3
lockfile==0.12.2
lxml==3.7.3
mock==2.0.0
oauthlib==1.1.2
pbr==1.10.0
Pillow==3.3.0
Pinax==0.9a2
pinax-eventlog==1.1.1
pinax-likes==2.0.4
pinax-messages==0.2
pinax-theme-bootstrap==7.8.0
pinax-webanalytics==2.0.1
progressbar2==3.9.4
psycopg2==2.6.2
pycrypto==2.6.1
pyfcm==1.2.3
Pygments==2.1.3
PyJWT==1.3.0
pypng==0.0.18
PyQRCode==1.2.1
pysolr==3.5.0
python-http-client==1.2.3
python-openid==2.2.5
python-social-auth==0.2.13
python-utils==2.0.0
pytz==2016.6
pyzmail==1.0.3
requests==2.10.0
requests-oauthlib==0.6.2
sendgrid==2.2.1
sendgrid-django==2.0.0
six==1.10.0
skyscanner==1.1.4
smtpapi==0.3.1
solr==0.4
stream-django==1.3.1
stream-python==2.3.8
virtualenv==15.0.2
