Django==1.9.5
django-user-accounts==1.3.1
pinax-webanalytics==2.0.1
pinax-eventlog==1.1.1
python-social-auth==0.2.13
pinax-theme-bootstrap==7.8.0
django-forms-bootstrap
django-taggit
django-taggit-templatetags2
django-haystack
fcm-django
pinax-likes
pinax
django-stdimage
virtualenv
pysolr
solr
django-localflavor
django-taggit-labels
pinax-messages
django-geojson
stream_django
django-el-pagination
djangorestframework
django-rest-auth
djoser
django-push-notifications
django-extra-fields
django-bootstrap-form
django-oauth-toolkit
django-rest-framework-social-oauth2
geopy
django-filter
django-model-utils
jsonfield
pytz
pypng==0.0.18
PyQRCode==1.2.1
fcm-django

