<span class="likes" style="float:left; ">
    {% if can_like %}
        <a class="btn ajax"
           data-method="post"
           data-replace-closest=".likes"
           data-spinner="off"
           href="{{ like_url }}?t=b"
           title="{{ like_text }}">
	{% if liked %}
           <i class="fa fa-heart" class="icon {{ like_class }}"></i>
	{% else %}
		<i class="fa fa-heart-o" class="icon {{ like_class }}"></i>
	{% endif %}
             {{ like_count }}
        </a>
    {% endif %}



</span>
