{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section style="height:500px; background:url('../site_media/media/images/homepage1.jpg');background-color: #F7F7F7;" >
        <div class="container" style="color:white";">
            {% include "_messages.html" %}
            <h1 style="text-align:center; padding-top:30px; font-size:60px;" >
	{% blocktrans %}What'sPopp'n{% endblocktrans %}</h1>
            <p style="text-align:center; color:white; font-size:20px;"> 
                {% blocktrans %}
               Connect, Explore, Discover
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p style="text-align:center;">{% blocktrans %}
<a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> {% endblocktrans %}</p>

	{%else%}
 <p class="form-actions" style="text-align:center;">
      
      <a href="{% url 'post_list' %}" class="btn btn-primary">Explore</a>
    </p>
            {% endif %}

	
        </div>
    </section>
    <section style= "background-color: #F7F7F7;" >
        <div >
	{%block content%}
  	{%endblock%}
            
        </div>
    </section>
{% endblock %}
