{% extends "site_base.html" %}

{% load i18n %}

{% load base_extras %}

{% load account_tags %}

{% load pinax_likes_tags %}

{% load taggit_templatetags2_tags %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<style>
    html,body,div {
        color: gray !important;
    }
</style>
<body>

<div class="container-fluid content bg-white">

  		<div id='about-inner' >

    		<div  class="detail"  style="text-align:center; color: #236B8E; ">


      		<h2 style="color:#236B8E;">What'sPoppin Marketing Intern</h2><br>


      		<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center; font: sans serif;  margin-bottom:50px;">

      		    <div class="col-sm-4" style="text-align:left;">

      		    <img class="img-quare" width="220" height="190" src="/site_media/media/images/thon.jpg" border="0" alt="penn state stadium"/>


      		    </div>


                <div class="col-sm-5">
      			<h4 style="color:#236B8E;">Be a Part of Something Big</h4>

	<p>Would you like to be the face of What's Poppin on your college campus? We're looking for applicants who are motivated and passionate about our vision to connect college students, and who are excited to design innovative campaigns that will engage and expand our user base on your campus. As a member of the What's Poppin team, you will be working in a fast-paced environment with many time-sensitive responsibilities. Creative problem-solving skills, versatility, and humility are all key. In return, you'll gain valuable experience and skills to put on your resume.</p>

                    </div>
    			</div>


    		<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center;  margin-bottom:50px;">

      		    <div class="col-sm-4" style="text-align:left;">

      		    <img class="img-quare" width="220" height="210" src="/site_media/media/images/jlwvautloaq-dustin-lee.jpg" border="0" alt="penn state stadium"/>


      		    </div>

                 <div class="col-sm-5">
      			<h4 style="color:#236B8E;">Gain Valuable Experience</h4>
      			<p >
You will be working alongside some of the smartest, most outgoing people on campus to spread awareness about Penn State's hidden gem events while simultaneously increasing excitement for them. Furthermore, you will gain valuable, hands-on experience to boost your resume (because we all know that's what you really care about).</p>
      			</div>

    			</div>


    			</div>


    			<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center;  margin-bottom:50px;">

      		             <div  style="text-align:left;">
                            <br>
      		                 <h4 style="color:#236B8E;">What will I be doing as a What'sPoppin Marketing Intern?</h2>

      		            <ol>
      		                <li>Develop and implement creative marketing campaigns on your campus to attract new users to our app and keep current users engaged.</li>
      		                <li>Stay informed on the latest marketing trends and make sure your marketing strategies are up-to-date.</li>
      		                <li>Organize and host four major on campus events during the semester.</li>
      		            </ol>
                        <br>
      		            <h4 style="color:#236B8E;">Requirements</h2>

      		            <ol>
      		                <li>Current Penn State student</li>
      		                <li>Outgoing, confident and extroverted</li>
      		                <li>Comfortable speaking to groups of people</li>
      		                <li>Excellent communication skills and social media experience</li>
      		                <li>Previous experience not necessary, but preferred.</li>
      		            </ol>

                        <br>
      		            <h4 style="color:#236B8E;">To apply, send your resume to us.wpoppin@gmail.com. <br>We look forward to working with you!</br> </h2>


      		    </div>
      		    </div>


    		</div>



  		</div>
<body>

{% endblock %}