

<body>


    <p>



TERMS AND CONDITIONS
<br>1. Introduction<br>
These Terms and Conditions written on this application shall manage your use of this application. These Terms will be applied fully and affect your use of this application. By using this application, you agreed to accept all terms and conditions written in here. You must not use this application if you disagree with any of these Terms and Conditions.
<br>2. Intellectual Property Rights<br>
Other than the content you own, under these Terms, What'sPoppin and/or its licensors own all the intellectual property rights and materials contained in this application.
You are granted limited license only for purposes of viewing the material contained on this application.
<br>3. Restrictions<br>
You are specifically restricted from all of the following
publishing any application material in any other media;
selling, sublicensing and/or otherwise commercializing any application material;
publicly performing and/or showing any application material;
using this application in any way that is or may be damaging to this application;
using this application in any way that impacts user access to this application;
using this application contrary to applicable laws and regulations, or in any way may cause harm to the application, or to any person or business entity;
engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this application;
using this application to engage in any advertising or marketing.
Certain areas of this application are restricted from being access by you and What'sPoppin may further restrict access by you to any areas of this application, at any time, in absolute discretion. Any user ID and password you may have for this application are confidential and you must maintain confidentiality as well.
<br>4. Your Content<br>
In these application’s Terms and Conditions, “Post” shall mean any descriptions, images or other material you choose to display on this application. By saving your event, you grant What’sPoppin a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
Your “Post” must be your own, if not, it must be with approval and accordance of any third-party’s rights. What'sPoppin reserves the right to remove any of your “Post” from this application at any time without notice.
<br>5. No warranties<br>
This application is provided “as is,” with all faults, and What'sPoppin express no representations or warranties, of any kind related to this application or the materials contained on this application. Also, nothing contained on this application shall be interpreted as advising you.
<br>6. Limitation of liability
In no event shall What'sPoppin, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this application whether such liability is under contract. What'sPoppin, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this application.
<br>7. Indemnification<br>
You hereby indemnify to the fullest extent What'sPoppin from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
<br>8. Severability<br>
If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
<br>9. Variation of Terms<br>
What'sPoppin is permitted to revise these Terms at any time as it sees fit, and by using this application you are expected to review these Terms on a regular basis.
<br>10. Assignment<br>
The What'sPoppin is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
<br>11. Entire Agreement<br>
These Terms constitute the entire agreement between What'sPoppin and you in relation to your use of this application, and supersede all prior agreements and understandings.
<br>12. Governing Law & Jurisdiction
These Terms will be governed by and interpreted in accordance with the laws of the State of Pennsylvania, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Pennsylvania for the resolution of any disputes.
<br>
Information Collected and Received <br>
What'sPoppin may collect or receive information about each person who registers with the What'sPoppin platform including, but not limited to, user name, password, first and last name, email address, street address, gender, occupation, and interests. What'sPoppin also collects information on the pages you access and other information you may volunteer, such as survey information.

<br>Uses of Information <br>
WE WILL NEVER SELL YOUR EMAIL ADDRESS, OR ANY OTHER PERSONAL INFORMATION, TO ANY THIRD PARTY. EVER.
<br>
Except as described in this section, we will not disclose your personal information to any third party without notifying you of our intent to share the information and giving you an opportunity to prevent your information from being shared.
From time to time, we may partner with companies based on the interests of our users. These partner companies will never see your email address or any other information that could identify you or be used to contact you directly.
Any exceptions to this policy of sharing your name, address or email address with a partner company will be done only with your permission.
<br>
What'sPoppin reserves the right to disclose information when required by law.<br>
<br>
What'sPoppin's site's registration form requires users to give What'sPoppin contact information (such as your name and email address) and demographic information (such as your zip code or gender). What'sPoppin uses customer contact information from the registration form to send the user information about What'sPoppin. The customer's contact information is also used to contact the user when necessary. What'sPoppin may use demographic and/or profile data to tailor the visitor's experience on What'sPoppin's site, show the visitor content that What'sPoppin thinks you may be interested in, and display content according to your preferences.
<br>
Security <br>
What'sPoppin uses industry-standard technologies when transferring and receiving consumer data exchanged between the user and What'sPoppin. This site has security measures in place to protect the loss, misuse and alteration of the information under What'sPoppin's control. What'sPoppin's servers are backed up regularly and protected by security systems.

    </p>

</body>