{% extends "site_base.html" %}

{% load i18n %}

{% load base_extras %}

{% load account_tags %}

{% load pinax_likes_tags %}

{% load taggit_templatetags2_tags %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<style>
    html,body,div {
        color: gray !important;
    }
</style>
<body>

<div class="container-fluid content bg-white">

  		<div id='about-inner' >

    		<div  class="detail"  style="text-align:center; color: #236B8E; ">


      		<h2 style="color:#236B8E;">What'sPoppin Stories Writer</h2><br>


      		<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center; font: sans serif;  margin-bottom:50px;">

      		    <div class="col-sm-4" style="text-align:left;">

      		    <img class="img-quare" width="220" height="190" src="/site_media/media/images/thon.jpg" border="0" alt="penn state stadium"/>


      		    </div>


                <div class="col-sm-5">
      			<h4 style="color:#236B8E;">Be a Part of Something Big</h4>

	<p>Imagine this… football season is over and you just finished binge watching your favorite show. You think, “What now? What can I do at Penn State beyond just partying?” <br><br>At What'sPoppin, we help students discover the most fun, interesting, inspiring, and engaging events that are otherwise overlooked. As a member of our team, you will play an important role in inspiring Penn State students and breathing life into amazing events that Penn State would otherwise never hear about.</p>

                    </div>
    			</div>


    		<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center;  margin-bottom:50px;">

      		    <div class="col-sm-4" style="text-align:left;">

      		    <img class="img-quare" width="220" height="210" src="/site_media/media/images/jlwvautloaq-dustin-lee.jpg" border="0" alt="penn state stadium"/>


      		    </div>

                 <div class="col-sm-5">
      			<h4 style="color:#236B8E;">Gain Valuable Experience</h4>
      			<p >
You will be working alongside some of the smartest, most outgoing people on campus to spread awareness about Penn State's hidden gem events while simultaneously increasing excitement for them. Furthermore, you will gain valuable, hands-on experience to boost your resume (because we all know that's what you really care about).</p>
      			</div>

    			</div>

    				<div class="col-sm-10" style="text-align:left; float:right; margin:auto;  margin-bottom:50px; align:center;">

      		    <div class="col-sm-4" style="text-align:left;">

      		    <img class="img-quare" width="220" height="210" src="/site_media/media/images/u2ukri4lci8-nasa.jpg" border="0" alt="penn state stadium"/>


      		    </div>

                <div class="col-sm-5">
      			<h4 style="color:#236B8E;">Write about Fun and Interesting Events</h4>
           			<p>	    You get to know before everyone else when our flashmobs and pop-up performances are going to happen.
      			More importantly, your work will make a difference: Help Penn State students discover an inspiring, brand-new experience. Read a sample story <a href="/stories/post/4">here</a>.</p>

      			</div>

    			</div>
    			</div>


    			<div class="col-sm-10" style="text-align:left; float:right; margin:auto; align:center;  margin-bottom:50px;">

      		             <div  style="text-align:left;">
                            <br>
      		                 <h4 style="color:#236B8E;">What will I be doing as a What'sPoppin Stories Writer?</h2>

      		            <ol>
      		                <li>Submit one to two articles each week (250 - 500 words) about an event you attended.</li>
      		                <li>Share your article across social media to help familiarize students with the events.</li>
      		                <li>Be on the look out for any interesting events to put on our platform as well as write about.</li>
      		            </ol>
                        <br>
      		            <h4 style="color:#236B8E;">Requirements</h2>

      		            <ol>
      		                <li>Current Penn State student</li>
      		                <li>Good writing skills</li>
      		                <li>Good interpersonal skills</li>
      		                <li>Previous experience not necessary, but preferred.</li>
      		            </ol>

                        <br>
      		            <h4 style="color:#236B8E;">To apply, send your resume and two writing samples to us.wpoppin@gmail.com. <br>We look forward to working with you!</br> </h2>


      		    </div>
      		    </div>


    		</div>



  		</div>
<body>

{% endblock %}