{% extends "Post/side_nav.html" %}

{% load i18n %}

{% load pinax_likes_tags %}

{% load taggit_templatetags2_tags %}

{% block content %}


<style>

.col-lg-7 {
width:660px;
margin:auto;
text-align:left; font-size: 15px; color: #504849; padding-left:20px; padding-right:20px; padding-bottom:5px; padding-top: 20px;



}

.button {
  background: Orange;
  float:right;
  background-image: -webkit-linear-gradient(top, Orange, orange);
  background-image: -moz-linear-gradient(top, Orange, orange);
  background-image: -ms-linear-gradient(top, Orange, orange);
  background-image: -o-linear-gradient(top, Orange, orange);
  background-image: linear-gradient(to bottom, Orange, orange);
  border-radius: 4px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.button:hover {
  background: orange;
  background-image: -webkit-linear-gradient(top, orange, orange);
  background-image: -moz-linear-gradient(top, orange, orange);
  background-image: -ms-linear-gradient(top, orange, orange);
  background-image: -o-linear-gradient(top, orange, orange);
  background-image: linear-gradient(to bottom, orange, orange);
  text-decoration: none;
  color:white;
}




.date { color:grey; font-size:13px; display:inline;}

#right {float:right;}



@media (max-width:960px){
.col-lg-7 .col-md-7{
	width:600px;
margin:auto;
text-align:left; font-size: 15px; color: #504849; padding-left:20px; padding-right:20px; padding-bottom:5px; padding-top: 20px;
}
}

@media (max-width:800px){
.col-lg-7 .col-md-7{
	margin:0px;
	padding:0px;
	width:100%;
}


}


@media (max-width:600px){



.col-lg-7{
	margin:0px;
	width:100%;
	padding-left:0px;
	padding-right:3px;
	padding-top: 0px;
	margin-right:40px;

}

.date {display:block;}
#right {float:none;}


.well{
	zoom: .7;

}

.well p{ zoom: 1.2;}


.image {
	width:100%;
	padding:0px;


}

}
</style>


<div class="col-lg-7  col-md-7 col-sm-7 " id="events" class="tab-pane">

    <!-- <a class="btn btn-primary"  href="{% url 'post_list' %}">All Events</a>  <a class="btn btn-default"  href="{% url 'EventsToday' %}">Today</a>
      <a class="btn btn-default"  href="{% url 'EventsTomorrow' %}">Tomorrow</a> <a class="btn btn-default"  href="{% url 'EventsWeek' %}">This Week</a>
      <a class="btn btn-default"  href="{% url 'EventsMonth' %}">This Month</a>   <br> <br> -->

          	 {% for post in posts %}

                {% include 'Post/_post.html' %}

{% endfor %}








<!--
<style>

 .post{
	background-color: white;
    width: 600px;
    padding: 5px;

    margin-bottom: 15px;
    border-bottom: solid lightgrey .5px;
    text-align:center;


}

@media screen and (max-width: 767px) {



  .post {


   margin-left:auto;
}

}
</style>

 <div class="list" class="col-md-6" style= "background-color: #F5F5F5; padding-top: 45px;">


            {% for post in posts %}
    <div class="post">

<p style="color:grey; text-align:left; font-size: 12px; padding:8px 0px 0px 20px;"> {{post.author}}</p>

       <p style = "font-size:15px; text-align:left; padding-left:20px;"><a style = "font-size:20px; " href="{% url 'post_detail' pk=post.pk %}"> <span style = "font-size:20px; color:#236B8E;">{{ post.title }}</span></a>

{%if post.price == 0%}
		<span style="float:right; padding-right:20px; color:grey;"> Free </span>

	{%else%}

         <span style="float:right; padding-right:20px; color:grey;">${{ post.price }} </span>

	{%endif%}

</p>


        <p style=" text-align:left; font-size: 15px; color: #504849; padding-left:20px; padding-right:20px; padding-bottom:5px;">{{ post.description }}</p>


        {% if post.image %}

    <a style= "border-radius:2px; " href="{% url 'post_detail' pk=post.pk %}"><img alt="" src="{{ post.image.large.url }}"/></a>
	{% endif %}

<hr>
 <div style="text-align:left; padding-left:20px;">

	<p> <b>{{post.date}} </b>   </p>

</div>

<hr style="width:560px;">
            <div style="overflow: auto;
	width: 100%;">


     <p > {% likes_widget request.user post %} </p>

<p style="float:right; padding-right:30px;">
<a href="{% url 'post_detail' pk=post.pk %}"> <i class="fa fa-comment-o"></i>
 {{ post.comments.count }} </a></p>




</div>



    </div></div>
{% endfor %}
-->
{% endblock %}
