{% extends "site_base.html" %}


{% block body %}



<h1>Post GEO-Test</h1>




<h2>Posts near you</h2>
<button onclick="getLocation()">Try It</button>

<div id="posts">
<ul>
    {% for post in posts %}
    <li><b>{{ post.title }}</b>: distance: {{ post.distance }}</li>
    {% endfor %}
</ul>
</div>
<p id="location" > </p>


<script>


    var loc = document.getElementById("location");
    var posts = document.getElementById("posts");

     function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        loc.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    loc.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}

function handlePosition(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
         $.get(url, {"lat": lat,
                    "lon": lon },
                    function(data) {
                        posts.empty();
                        $.each(data.features, function(index, val) {
                            var title = val.properties.title;
                            var description = val.properties.description;
                            posts.append(title);
                            posts.append(description);
                            makeMap(val, lon, lat);
                        });
                    });
        }

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            loc.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            loc.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            loc.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            loc.innerHTML = "An unknown error occurred."
            break;
    }
}



</script>




{% endblock %}