{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap_tags %}

{% load pinax_likes_tags %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<section>
        <div class="container">
            <div class="post">
           {% if user.is_authenticated %}
               {% if request.user == post.author %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" onclick="return makesure();"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
{% endif %}
	
	<h1>{{ post.title }}</h1> 
<div style="overflow:auto;"> 

<!--
{% if photo != blank %}
<img style="float:left; height:300px; width:250px;" src="{{post.photo.url}}"/> 
{% endif %}
-->

<div style="float:left; margin-top:10px; margin-left:10px;"> 
<p >{{ post.description }}</p> 
 
<P>Location: {{post.street_address}}, {{post.city}}, {{post.state}} {{post.zip_code}} </p>
	<p>Time: {{post.time}}</p>
	{%if post.price == 0%}
		<p>***Free Event</p>
	
	{%else%}
	
        <p> price: ${{ post.price }} </p>
	{%endif%}

               <p class= "date" style="padding-bottom: 13px;">posted: {{ post.posted_date }}
 by: {{post.author}} </p> 


{% who_likes post as post_likes %}

{% for like in post_likes %}
    <div class="like">{{ like.sender }} likes</div>
{% endfor %}


<hr>   {% if user.is_authenticated%}

    <form method="POST" class="post-form"  style="width:100%;">{% csrf_token %}
        {{ form|as_bootstrap }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
	{% endif %}




{% for comment in post.comments.all %}
 
    <div class="comment">
        
           

            {% if request.user == comment.author %}
                <a class= "glyphicon glyphicon-remove small" href="{% url 'event_comment_remove' pk=comment.pk %}" onclick="return makesure();" ></a>
            {% endif %}

        
    
        <p style="margin=0;">{{ comment.comment}}  <br>

  <div class="date" style="color:#aaa;
    font-family:verdana;
    font-size:11px;" > 
	<span>by: <strong>{{ comment.author }}</strong></span> <br>
	<span>{{ comment.created_date }}</span></div>
</p>
</div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>

</div>
<a href="{% url 'post_list' %}" class="btn btn-primary" >Go Back</a>
            </div>
    </div>
</div>

 {% endblock %}      
