{% extends "Post/side_nav.html" %}
{% block content %}

<style>

.col-lg-7 {
width:660px;
margin:auto;
text-align:left; font-size: 15px; color: #504849; padding-left:20px; padding-right:20px; padding-bottom:5px; padding-top: 20px;



}

.button {
  background: Orange;
  float:right;
  background-image: -webkit-linear-gradient(top, Orange, orange);
  background-image: -moz-linear-gradient(top, Orange, orange);
  background-image: -ms-linear-gradient(top, Orange, orange);
  background-image: -o-linear-gradient(top, Orange, orange);
  background-image: linear-gradient(to bottom, Orange, orange);
  border-radius: 4px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.button:hover {
  background: orange;
  background-image: -webkit-linear-gradient(top, orange, orange);
  background-image: -moz-linear-gradient(top, orange, orange);
  background-image: -ms-linear-gradient(top, orange, orange);
  background-image: -o-linear-gradient(top, orange, orange);
  background-image: linear-gradient(to bottom, orange, orange);
  text-decoration: none;
  color:white;
}




.date { color:grey; font-size:13px; display:inline;}

#right {float:right;}



@media (max-width:960px){
.col-lg-7 .col-md-7{
	width:600px;
margin:auto;
text-align:left; font-size: 15px; color: #504849; padding-left:20px; padding-right:20px; padding-bottom:5px; padding-top: 20px;
}
}

@media (max-width:800px){
.col-lg-7 .col-md-7{
	margin:0px;
	padding:0px;
	width:100%;
}


}


@media (max-width:600px){



.col-lg-7{
	margin:0px;
	width:100%;
	padding-left:0px;
	padding-right:3px;
	padding-top: 0px;
	margin-right:40px;

}

.date {display:block;}
#right {float:none;}


.well{
	zoom: .7;

}

.well p{ zoom: 1.2;}


.image {
	width:100%;
	padding:0px;


}

}


html {
		position: relative;
    	min-height: 100%;
	}
	body {
		margin: 0 0 60px;
  	}
	@import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";
	@media screen and (max-width: 600px) {
		footer {
    	/* just for demo */
    		background-color: #F8F8F8;
    		border-top: 1px solid #E7E7E7;
    		text-align:center;
    		//padding:20px;
   	/* just for demo */

    		position: fixed;
    		left: 0;
    		bottom: 0;
    		height: 60px;
    		width: 100%;
		}
			#apple {
		height: 35px;
	    }
	    #google {
		    height: 52px;
	    }
	}
</style>




<div class="col-lg-7  col-md-7 col-sm-7 " id="events" class="tab-pane">

     <a class="btn btn-primary"  href="{% url 'post_list' %}">All Events</a>  <a class="btn btn-default"  href="{% url 'EventsToday' %}">Today</a>
      <a class="btn btn-default"  href="{% url 'EventsTomorrow' %}">Tomorrow</a> <a class="btn btn-default"  href="{% url 'EventsWeek' %}">This Week</a>
      <a class="btn btn-default"  href="{% url 'EventsMonth' %}">This Month</a>   <br> <br>

{% include page_template %}


</div>

    <footer>

      <a href="https://itunes.apple.com/us/app/whatspoppin/id1198513124?ls=1&mt=8" target="_blank" rel="noopener noreferrer">	<img id='apple' src='/site_media/media/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg'></a>
      <a href="https://play.google.com/store/apps/details?id=com.wpoppin.whatspoppin" target="_blank" rel="noopener noreferrer">	<img id='google' src='/site_media/media/images/google-play-badge.png'></a>

    </footer>
{% block js %}


    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    if ($(window).width() > 600) {
	    $('footer').css({'display': 'none'});
    }
</script>
    <script>



        'use strict';

(function ($) {

    // Fix JS String.trim() function is unavailable in IE<9 #45
    if (typeof(String.prototype.trim) === "undefined") {
         String.prototype.trim = function() {
             return String(this).replace(/^\s+|\s+$/g, '');
         };
    }

    $.fn.endlessPaginate = function(options) {
        var defaults = {
            // Twitter-style pagination container selector.
            containerSelector: '.endless_container',
            // Twitter-style pagination loading selector.
            loadingSelector: '.endless_loading',
            // Twitter-style pagination link selector.
            moreSelector: 'a.endless_more',
            // Digg-style pagination page template selector.
            pageSelector: '.endless_page_template',
            // Digg-style pagination link selector.
            pagesSelector: 'a.endless_page_link',
            // Callback called when the user clicks to get another page.
            onClick: function() {},
            // Callback called when the new page is correctly displayed.
            onCompleted: function() {},
            // Set this to true to use the paginate-on-scroll feature.
            paginateOnScroll: false,
            // If paginate-on-scroll is on, this margin will be used.
            paginateOnScrollMargin : 1,
            // If paginate-on-scroll is on, it is possible to define chunks.
            paginateOnScrollChunkSize: 0
        },
            settings = $.extend(defaults, options);

        var getContext = function(link) {
            return {
                key: link.attr('rel').split(' ')[0],
                url: link.attr('href')
            };
        };

        return this.each(function() {
            var element = $(this),
                loadedPages = 1;

            // Twitter-style pagination.
            element.on('click', settings.moreSelector, function() {
                var link = $(this),
                    html_link = link.get(0),
                    container = link.closest(settings.containerSelector),
                    loading = container.find(settings.loadingSelector);
                // Avoid multiple Ajax calls.
                if (loading.is(':visible')) {
                    return false;
                }
                link.hide();
                loading.show();
                var context = getContext(link);
                // Fire onClick callback.
                if (settings.onClick.apply(html_link, [context]) !== false) {
                    var data = 'querystring_key=' + context.key;
                    // Send the Ajax request.
                    $.get(context.url, data, function(fragment) {
                        container.before(fragment);
                        container.remove();
                        // Increase the number of loaded pages.
                        loadedPages += 1;
                        // Fire onCompleted callback.
                        settings.onCompleted.apply(
                            html_link, [context, fragment.trim()]);
                    });
                }
                return false;
            });

            // On scroll pagination.
            if (settings.paginateOnScroll) {
                var win = $(window),
                    doc = $(document);
                doc.scroll(function(){
                    if (doc.height() - win.height() -
                        win.scrollTop() <= settings.paginateOnScrollMargin) {
                        // Do not paginate on scroll if chunks are used and
                        // the current chunk is complete.
                        var chunckSize = settings.paginateOnScrollChunkSize;
                        if (!chunckSize || loadedPages % chunckSize) {
                            element.find(settings.moreSelector).click();
                        } else {
                            element.find(settings.moreSelector).addClass('endless_chunk_complete');
                        }
                    }
                });
            }

            // Digg-style pagination.
            element.on('click', settings.pagesSelector, function() {
                var link = $(this),
                    html_link = link.get(0),
                    context = getContext(link);
                // Fire onClick callback.
                if (settings.onClick.apply(html_link, [context]) !== false) {
                    var page_template = link.closest(settings.pageSelector),
                        data = 'querystring_key=' + context.key;
                    // Send the Ajax request.
                    page_template.load(context.url, data, function(fragment) {
                        // Fire onCompleted callback.
                        settings.onCompleted.apply(
                            html_link, [context, fragment.trim()]);
                    });
                }
                return false;
            });
        });
    };

    $.endlessPaginate = function(options) {
        return $('body').endlessPaginate(options);
    };

})(jQuery);


    </script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 5
        });
    </script>
{% endblock %}

{% endblock %}

