{% extends "site_base.html" %}

{% load i18n %}

{% load pinax_likes_tags %}

{% load taggit_templatetags2_tags %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %} 

<div  class="col-sm-2" data-spy="scroll"  
			style=" position: sticky;
				width: 280px;
				height: 100%;
				padding-top:45px;
				margin-left:35px;
				">

     <div class="panel panel-content" style="	border: solid white .5px; 
						border-radius:0;">

      <div class="panel-heading" style="text-align:center;">
        <h3> Categories </h3>
      </div>
      <div class="panel-body" style="height: 330px;">
<a href="{% url 'question_list' %}" > Questions </a> <br> <br>
<a href="{% url 'post_list' %} "> Events </a>


<!--  {% get_taglist as tags %} 

	<ul style="list-style-type: none;
    		   margin: 0;
   		   padding: 0; ">

	{% for tag in tags %}
	<li><a  style="  display: block;
   			
    			 padding: 8px 0 8px 30px;
   			 text-decoration: none;" 
			 href="{% url 'categories'  %}">{{tag}}</a>
	</li>
	{% endfor %}

-->

	</ul>
      </div>
    </div>
  </div>

	
        <div style= "background-color: #F7F7F7; padding-top: 45px;">
<!--
            <p class="lead" style="padding-top: 5px; text-align: left;">
                {% blocktrans %}
                <b style= "color: black;">Nearby Events</b> 
                {% endblocktrans %}
-->
            {% for post in posts %}
    <div class="post" style= "background-color: #FEFCFF;
    width: 600px;
    padding: 5px;
    margin: auto; 
    margin-bottom: 10px;
    border-bottom: solid lightgrey .5px;
    text-align:center;
   ">
        
        <h1 style = "font-size:25px;"><a style = "font-size:25px; " href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p style=" font-size: 17px; color:#666362; ">{{ post.description }}</p>
        
            
            <div>
        {%if post.price == 0%}
		<p><b>*** Free ***</b></p>
	
	{%else%}
	
        <p> <b>price: ${{ post.price }} </b></p>
	
	{%endif%}

<!--
{% get_tags_for_object post as "tags" %}

	{% for tag in tags %}
	<a> #{{tag}} </a>
	{% endfor %}

-->

     <p>  {% likes_widget request.user post %}    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a> </p>

            </div> 
    </div>
{% endfor %}
{% endblock %}
