{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap_tags %}

{% block head_title %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

<style>
@media (max-width:800px){

.question-form{
	margin:0px;
	padding:0px;
	width:100%;


}


}


@media (max-width:600px){



.question-form{
	margin:0px;
	padding:0px;
	width:100%;
	zoom:.5;

}

}
</style>


{%if user.is_authenticated %}
<div style= "background-color: #F7F7F7 ;">
<form method="POST" class="container" class="form-horizontal" style="width: 500px; text-align:center; border-radius:0px; padding-top: 50px;" enctype="multipart/form-data">
    <legend style= "text-align:center;">CREATE NEW ENTRY</legend>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
      <a href="{% url 'home' %}" class="btn" onClick="javascript:history.go(-1);">Go back</a>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
</div>

{% endif %}
{% endblock %}
