{% load activity_tags %}

{% with activity.activities.0 as last_activity %}


<li class="notification-item" style="border: 1px red;">
	<div>
        <article>
            <figure>
                <div>

                    <div>
                       <a href="{% url 'profile' last_activity.actor.username %}"> {{ last_activity.actor.username }}</a> {% if activity.activities|slice:"1:"|length > 1 %}and {{ activity.activities|slice:"1:"|length }} more{% endif %} followed you {{ last_activity.time|timesince }} ago
                    </fdiv>
                </div>
            </figure>
        </article>
	</div>
</li>


{% endwith %}
