{% load i18n %}

{% load pinax_likes_tags %}
<div class="well" style="background-color: white; border-top: .5px; border-left: 0px; border-right: 0px; border-bottom: solid lightgrey .5px; border-radius: 0px; margin-bottom:15px; padding-bottom: 5px; width:100%;">




<p style="color:grey; text-align:left; font-size: 12px; ">

 <a href="{{ user.get_absolute_url }}">  <img src="{{ user.Account.photo.url }}"></a>

 {{post.author}}</p>

       <p style = "font-size:15px; text-align:left;"><a style = "font-size:20px; " href="{% url 'post_detail' pk=post.pk %}"> <span style = "font-size:20px; color:#236B8E;">{{ post.title }}</span></a>

{%if post.price == 0%}
		<span style="float:right;  color:grey;"> Free </span>

	{%else%}

         <span style="float:right;  color:grey;">${{ post.price }} </span>

	{%endif%}

</p>

        <p class="text" style=" text-align:left;  font-size:15px; color: #504849;  padding-bottom:5px;">{{ post.description|urlizetrunc:35|truncatechars_html:500|linebreaks }}
        {% if post.description|length >= 500 %}
        <span><a href="{% url 'post_detail' pk=post.pk %}">read more</a></span>
        {% endif %}
        </p>


        {% if post.image %}
 <div class= "image">
    <a   href="{% url 'post_detail' pk=post.pk %}"><img style= "   "class="img-responsive img-center" alt=""  src="{{ post.image.large.url }}"/></a>
</div>
	{% endif %}

<hr>
 <div style="text-align:left; ">

<p> <b>Date</b>: {{post.date}}   &nbsp  &nbsp  &nbsp <b>Time</b>: {{post.time}} </p>

</div>

<hr>
            <div style="overflow: auto;
	width: 100%;">


     <p > {% likes_widget request.user post %} </p>

<p style="float:right; ">
<a href="{% url 'post_detail' pk=post.pk %}"> <i class="fa fa-comment-o"></i>
 {{ post.comments.count }} </a></p>




</div>

</div>

